
.header-big {
    font-size: 30px;
    text-transform: uppercase;
    padding: 15px 0;
}

.header-small {
    font-size: 22px;
    text-transform: uppercase;
    padding: 5px 0;
}

.container {
    width: 970px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}